.posts-container-wrapper {
    height: 500px;
    width: 75%;
    margin: 5px auto;
    font-size: 45px;
  }
  .post-border {
    border: 1px solid red;
    margin: 5px 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .post-image-wrapper {
    height: 100%;
    width: 100%;
  }
  
  .post-image {
    width: 80%;
  }
  
  .post-header {
    display: flex;
    height:auto;
    margin-top: auto;
    padding: auto;

  }
  
  .post-thumb-wrapper {
    height: 100px;
    width: 100px;
  }
  .post-thumb {
    height: 100%;
    border-radius: 50%;
  }.like-section {
    display: flex;
  }
  
  .like-section-wrapper {
    height: 100px;
    width: 150px;
    margin: 15px;
  }
  input {
    height:60px;
    width: 100%;

  }